.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.prodacts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 100px 50px ;
}
.card-container{
background-color: rgba(255,153,0,0.3);
}
@media screen and (max-width:1100px){
    .prodacts-container{
        grid-template-columns: repeat(2, 1fr);
    }
}